arandr
build-essential
curl
dmenu
feh
firefox
flatpak
fonts-noto-color-emoji
g++
gcc
gdb
gfortran
guitarix
htop
i3
i3blocks
jackd2
kitty
libreoffice
liblapack-dev
lxappearance
maim
nautilus
neovim
numlockx
p7zip
pandoc
pavucontrol
picom
pipx
pulseaudio
pulseaudio-module-jack
qjackctl
ranger
rar
screenfetch
stow
texlive-full
tuxguitar
tuxguitar-jsa
unrar
unzip
wget
x11-utils
x11-xserver-utils
xclip
xdotool
xss-lock
xournalpp
zsh
