arandr
build-essential
curl
dmenu
firefox
feh
g++
gcc
gdb
gfortran
htop
i3
i3blocks
kitty
libreoffice
lxappearance
maim
nautilus
neovim
p7zip
pandoc
pavucontrol
picom
pipx
pulseaudio
ranger
rar
screenfetch
stow
texlive-full
unrar
unzip
wget
x11-xserver-utils
xclip
xreader
xss-lock
zsh
