arandr
build-essential
cmake
curl
dmenu
fd-find
feh
firefox
flatpak
fonts-noto-color-emoji
fzf
g++
gcc
gdb
gfortran
gnuplot
gromit-mpx
htop
i3
i3blocks
jq
kitty
libblas-dev
liblapack-dev
libreoffice
lxappearance
maim
nautilus
numlockx
okular
p7zip
pandoc
pavucontrol
picom
pip
pipx
playerctl
python3-pygments
qpwgraph
ranger
rar
ripgrep
screenfetch
stow
texlive-full
unrar
unzip
virtualenv
virtualenvwrapper
wget
x11-utils
x11-xserver-utils
xclip
xdotool
xournalpp
xss-lock
zsh